.App{
  height: 100%;
}
.Header{
  background-color: rgb(24, 24, 24);
  color:aqua;
  height: 100px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.PageArea{
  min-height: 100%;
  background-color: pink;
}

.NavLink{
  margin-left: 15px;
}

.Selected{
  color: pink;
}
