:root {
  --main-dark-color: rgb(0, 0, 0);
  --main-light-color: rgb(105, 248, 248);
  --secondary-dark-color:rgb(36, 36, 36);
  --secondary-light-color:rgb(213, 180, 236);
}

.App{
  height: 100%;
}
.Header{
  background-color: var(--secondary-dark-color);
  color:var(--main-light-color);
  height: 100px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.PageArea{
  min-height: 100%;
  background-color: var(--main-dark-color);
  color:rgb(213, 180, 236)
}

.NavLink{
  margin-left: 15px;
}

.Selected{
  color: var(--secondary-light-color);
}
